<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:postgresql://107.170.65.145:5432/db</property>
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <property name="connection.username">fastflow</property>
    <property name="connection.password">fastflow</property>
  <!--  <property name="connection.username">fastflow</property>
    <property name="connection.password">fastflow</property>-->
    <mapping resource="xml/UserDB.hbm.xml"/>
    <mapping class="by.fastflow.DBModels.UserDB"/>
   <!-- <mapping class="by.fastflow.DBModels.AuthDB"/>
    <mapping resource="by/fastflow/DBModels/xml/AuthDB.hbm.xml"/>
    <mapping resource="by/fastflow/DBModels/xml/CardDB.hbm.xml"/>
    <mapping class="by.fastflow.DBModels.CardDB"/>
    <mapping resource="by/fastflow/DBModels/xml/DialogDB.hbm.xml"/>
    <mapping class="by.fastflow.DBModels.DialogDB"/>
    <mapping resource="by/fastflow/DBModels/xml/InDialogDB.hbm.xml"/>
    <mapping class="by.fastflow.DBModels.InDialogDB"/>
    <mapping resource="by/fastflow/DBModels/xml/MessageDB.hbm.xml"/>
    <mapping class="by.fastflow.DBModels.MessageDB"/>
    <mapping resource="by/fastflow/DBModels/xml/NotReadedMessagesDB.hbm.xml"/>
    <mapping class="by.fastflow.DBModels.NotReadedMessagesDB"/>
    <mapping resource="by/fastflow/DBModels/xml/NotReadedSuccessDB.hbm.xml"/>
    <mapping class="by.fastflow.DBModels.NotReadedSuccessDB"/>
    <mapping resource="by/fastflow/DBModels/xml/PushDB.hbm.xml"/>
    <mapping class="by.fastflow.DBModels.PushDB"/>
    <mapping resource="by/fastflow/DBModels/xml/RelationshipDB.hbm.xml"/>
    <mapping class="by.fastflow.DBModels.RelationshipDB"/>
    <mapping resource="by/fastflow/DBModels/xml/SuccessDB.hbm.xml"/>
    <mapping class="by.fastflow.DBModels.SuccessDB"/>
    <mapping resource="by/fastflow/DBModels/xml/TaskItemDB.hbm.xml"/>
    <mapping class="by.fastflow.DBModels.TaskItemDB"/>
    <mapping resource="by/fastflow/DBModels/xml/TaskListDB.hbm.xml"/>
    <mapping class="by.fastflow.DBModels.TaskListDB"/>
    <mapping resource="by/fastflow/DBModels/xml/TaskListPermissionsDB.hbm.xml"/>
    <mapping class="by.fastflow.DBModels.TaskListPermissionsDB"/>
    <mapping resource="by/fastflow/DBModels/xml/TaskPermissionsDB.hbm.xml"/>
    <mapping class="by.fastflow.DBModels.TaskPermissionsDB"/>
    <mapping resource="by/fastflow/DBModels/xml/WishItemDB.hbm.xml"/>
    <mapping class="by.fastflow.DBModels.WishItemDB"/>
    <mapping resource="by/fastflow/DBModels/xml/WishListDB.hbm.xml"/>
    <mapping class="by.fastflow.DBModels.WishListDB"/>-->
    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>