<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:postgresql://107.170.65.145:5432/db</property>
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <property name="connection.username">fastflow</property>
    <property name="connection.password">fastflow</property>
  <!--  <property name="connection.username">fastflow</property>
    <property name="connection.password">fastflow</property>-->

    <mapping resource="xml/UserDB.hbm.xml"/>
    <mapping class="by.fastflow.DBModels.main.UserDB"/>
    <mapping resource="xml/AuthDB.hbm.xml"/>
    <mapping class="by.fastflow.DBModels.main.AuthDB"/>
    <mapping resource="xml/SuccessDB.hbm.xml"/>
    <mapping class="by.fastflow.DBModels.main.SuccessDB"/>
    <mapping resource="xml/DialogDB.hbm.xml"/>
    <mapping class="by.fastflow.DBModels.main.DialogDB"/>
    <mapping resource="xml/MessageDB.hbm.xml"/>
    <mapping class="by.fastflow.DBModels.main.MessageDB"/>
    <mapping resource="xml/CardDB.hbm.xml"/>
    <mapping class="by.fastflow.DBModels.main.CardDB"/>
    <mapping resource="xml/WishListDB.hbm.xml"/>
    <mapping class="by.fastflow.DBModels.main.WishListDB"/>
    <mapping resource="xml/WishItemDB.hbm.xml"/>
    <mapping class="by.fastflow.DBModels.main.WishItemDB"/>
    <mapping resource="xml/PushDB.hbm.xml"/>
    <mapping class="by.fastflow.DBModels.main.PushDB"/>
    <mapping resource="xml/TaskListDB.hbm.xml"/>
    <mapping class="by.fastflow.DBModels.main.TaskListDB"/>
    <mapping resource="xml/TaskItemDB.hbm.xml"/>
    <mapping class="by.fastflow.DBModels.main.TaskItemDB"/>

    <mapping class="by.fastflow.DBModels.InDialogDB"/>
    <mapping class="by.fastflow.DBModels.pk.InDialogDBPK"/>
    <mapping class="by.fastflow.DBModels.InDialogTwainDB"/>
    <mapping class="by.fastflow.DBModels.pk.InDialogTwainDBPK"/>
    <mapping class="by.fastflow.DBModels.NotReadedSuccessDB"/>
    <mapping class="by.fastflow.DBModels.pk.NotReadedSuccessDBPK"/>
    <mapping class="by.fastflow.DBModels.RelationshipDB"/>
    <mapping class="by.fastflow.DBModels.pk.RelationshipDBPK"/>
    <mapping class="by.fastflow.DBModels.TaskListPermissionsDB"/>
    <mapping class="by.fastflow.DBModels.pk.TaskListPermissionsDBPK"/>
    <mapping class="by.fastflow.DBModels.TaskPermissionsDB"/>
    <mapping class="by.fastflow.DBModels.pk.TaskPermissionsDBPK"/>
    <!-- DB schema will be updated if needed -->
  </session-factory>
</hibernate-configuration>