<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:postgresql://107.170.65.145:5432/db</property>
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <property name="connection.username">fastflow</property>
    <property name="connection.password">fastflow</property>
  <!--  <property name="connection.username">fastflow</property>
    <property name="connection.password">fastflow</property>-->
    <mapping resource="xml/UserDB.hbm.xml"/>
    <mapping class="by.fastflow.DBModels.UserDB"/>
    <mapping resource="xml/AuthDB.hbm.xml"/>
    <mapping class="by.fastflow.DBModels.AuthDB"/>
    <mapping resource="xml/SuccessDB.hbm.xml"/>
    <mapping class="by.fastflow.DBModels.SuccessDB"/>
    <mapping resource="xml/DialogDB.hbm.xml"/>
    <mapping class="by.fastflow.DBModels.DialogDB"/>
    <mapping resource="xml/MessageDB.hbm.xml"/>
    <mapping class="by.fastflow.DBModels.MessageDB"/>
    <mapping resource="xml/CardDB.hbm.xml"/>
    <mapping class="by.fastflow.DBModels.CardDB"/>
    <mapping resource="xml/WishListDB.hbm.xml"/>
    <mapping class="by.fastflow.DBModels.WishListDB"/>
    <mapping resource="xml/WishItemDB.hbm.xml"/>
    <mapping class="by.fastflow.DBModels.WishItemDB"/>
    <mapping resource="xml/PushDB.hbm.xml"/>
    <mapping class="by.fastflow.DBModels.PushDB"/>

    <mapping class="by.fastflow.DBModels.InDialogDB"/>
    <mapping class="by.fastflow.DBModels.pk.InDialogDBPK"/>
    <mapping class="by.fastflow.DBModels.InDialogTwainDB"/>
    <mapping class="by.fastflow.DBModels.pk.InDialogTwainDBPK"/>
    <mapping class="by.fastflow.DBModels.NotReadedSuccessDB"/>
    <mapping class="by.fastflow.DBModels.pk.NotReadedSuccessDBPK"/>
    <mapping class="by.fastflow.DBModels.RelationshipDB"/>
    <mapping class="by.fastflow.DBModels.pk.RelationshipDBPK"/>
    <!--
    <mapping class="by.fastflow.DBModels.xml.TaskListPermissionsDB"/>
    <mapping resource="by/fastflow/DBModels/xml/TaskItemDB.hbm.xml"/>
    <mapping class="by.fastflow.DBModels.TaskItemDB"/>
    <mapping resource="by/fastflow/DBModels/xml/TaskListDB.hbm.xml"/>
    <mapping class="by.fastflow.DBModels.TaskListDB"/>
    <mapping resource="by/fastflow/DBModels/xml/TaskListPermissionsDB.hbm.xml"/>
    <mapping resource="by/fastflow/DBModels/xml/TaskPermissionsDB.hbm.xml"/>
    <mapping class="by.fastflow.DBModels.TaskPermissionsDB"/> -->
    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">updateBy</property> -->
  </session-factory>
</hibernate-configuration>